<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0upvfVK_DpUyZAiv0hfKgO9eIu1z0g6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>48308461876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealBook.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>meal-book-1d355</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-book-1d355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48308461876:ios:674545feaaa4e041854561</string>
</dict>
</plist>